.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0.0);
    border: 0px solid #222;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
    border: none !important;
    box-shadow: none !important;
}

.reveal section:not(:first-child):not(.center-title) {
    top: 0px !important;
}

.reveal h2, .reveal h3, .reveal h4 {
    border-bottom: 1px solid #000;
    padding-bottom: .3em;
    margin-bottom: .5em;
}

.reveal li {
    margin-bottom: 1em;
}

.triple-editor-view {
    padding: -40px !important;
}

.triple-editor-view>div>div {
    height: 300px;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: .4em !important;
    margin-left: .4em !important;
    font-size: .6em;
    margin-bottom: .8em;
}

.triple-editor-view>div>p {
    margin-bottom: 3px !important;
    font-size: .8em;
}

.reveal iframe {
    max-width: 100%;
    margin-top: 315px;
}

.center-title>h2 {
    border: none;
}